/*------------------------------------*\
    $BULLET
\*------------------------------------*/

.bullet {
	background-color: $green;
	color:$green;
	display: inline-block;
	*display: inline;
	margin-right: 0.5em;
	margin-top: 0.15em;
}