/*------------------------------------*\
    $HR STYLES
\*------------------------------------*/

hr {
	background-color: $green;
	height:0.5em;
	margin: 0;
	border:none;
}

.footer__hr {
	height:0.1em;
}