/*------------------------------------*\
    $MAP VARIABLES
\*------------------------------------*/

#map-canvas {
	height:30em;
	width:100%;
	z-index: 20;
	// padding-bottom: 30em;
}
.gm-style-iw {
	padding:0.5em;
}

#map-canvas img {
    max-width: none!important; 
}