/*------------------------------------*\
    $MAP VARIABLES
\*------------------------------------*/

#map-canvas {
	height:100%;
	width:100%;
	z-index: 20;
	padding-bottom: 30em;
}
.gm-style-iw {
	padding:0.5em;
}

#map-canvas img {
    max-width: none!important; 
}

[role="map__escape"] {
	display: block;
	width: 2em;
	height: 3em;
	background-color: $green;
	position: absolute;
	right: 0;
	top: 40%;
	z-index: 100;
}