/*------------------------------------*\
    $NAV DEFINITIONS
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/**
 * MENU
 * BUTTONS
 * LINKS
 */

/*------------------------------------*\
    $MENU
\*------------------------------------*/

.nav__header {
	background-color: $purple;
	z-index: 100;
	position: fixed;
}
.nav__header a {
	padding: 1em;
}

.nav a {
	display:block;
	font-size: 1em;
}

.nav__footer a {
	padding:0.5em;
}
.nav__header li:hover, .button:hover {
	background-color: $green;
}

.active {
	background-color: $green;
	font-weight: 700;
}

.nav > li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.nav__container {
	max-width: 1200px;
	margin-left:auto;
	margin-right: auto;
}
.nav__container ul {
	float: right;
}
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.button {
	font-size: 0.9em;
	padding:0.3em 0.5em;
	font-weight: 600;
}

.button__map svg,.button__map img {
	position: relative;
	background-color: $green;
	padding:0.3em;
	display:block;
	float:left;

}
.button__map span {
	display:block;
	position: relative;
	padding: 0.54em;
	width: 8.5em;
	float:left;
}

/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
	text-decoration: none;
	color:$gray80;
}

.nav__header a, .button {
	color:$white;
}

.nav__footer a:hover {
	color:$green;
}