/*------------------------------------*\
    $NAV DEFINITIONS
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/**
 *
 * MENU
 * MENU FOR SMALL SCREENS < 1023
 * BUTTONS
 * BUTTON AFTER GRAD
 * BUTTONS BACK TO TOP
 * LINKS
 *
 **/

/*------------------------------------*\
    $MENU
\*------------------------------------*/

.nav__header {
	background-color: $purple;
	z-index: 100;
	position: relative;
	margin-bottom: -3em;
}
.nav__header a {
	// padding: 1em;
	min-height: 3.2em;
	line-height: 3.2em;
	padding: 0 1em;
}

.nav a {
	display:block;
	font-size: 0.9em;
}

.nav__footer a {
	padding:0.5em;
	font-size: 0.8em;
}
.nav__header li:hover, .button:hover {
	background-color: $green;
	@include hover__transition;
}

.active {
	background-color: $green;
}

.nav li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.nav__container {
	max-width: 1200px;
	margin-left:auto;
	margin-right: auto;
}
.nav__container > ul {
	float: right;
}
.offcanvas {
	display:none;
}

/*------------------------------------*\
    $MENU FOR SMALL SCREENS < 1023
\*------------------------------------*/
@media only screen and (max-width : 1023px) {
	body {
		overflow: hidden;
	}
	.active {
		background: none;
	}
	[role="side_menu"] {
		display: none;
	}
	.offcanvas {
		display:block;
		padding-left: 6%;
	}
	.nav__container {
		position:fixed;
		top:0; /* fix for odd behavour of fixed divs in android default browser */
		left:0; /* fix for odd behavour of fixed divs in android default browser */
		background: $grayLight;
		height: 100%;
		width: 80%;
		padding: 0px;
		z-index: 100;
		-webkit-box-shadow: inset -2px 0px 8px -1px #111111;
		box-shadow: inset -2px 0px 8px -1px #111111;
		overflow: auto;
		margin-left: -80%;
	}
	.nav__header {
		width:100%;
		background: none;
	}
	.nav__header li {
		display: block;
	}
	.nav__header li:hover {
		background: none;
	}

	.open .content__mask--mobile {
		// position:absolute;
		margin-left:80%;
		float:left;
	}
	[role="nav__mobile--holder"] {
		position: fixed;
		top:0; /* fix for odd behavour of fixed divs in android default browser */
		left:0; /* fix for odd behavour of fixed divs in android default browser */
		width: 100%;
		background-color: $purple;
    	height:3.05em;
    	z-index: 99;
	}
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.button {
	font-size: 0.9em;
	padding:0.3em 0.5em;
}

.button__map svg,.button__map img {
	position: relative;
	background-color: $green;
	padding:0.3em;
	display:block;
	float:left;

}
.button__map span {
	display:block;
	position: relative;
	padding: 0.54em;
	width: 8.5em;
	float:left;
}

/*------------------------------------*\
    $BUTTON AFTER GRAD
\*------------------------------------*/

.button__aftergrad__link {
    display: inline-block;
    *display: inline;
    zoom: 1;
	background-color: $green;
	margin-top:0.5em; /* mainly for some extra space on small devices */
	margin-bottom: 0.5em; /* mainly for some extra space on small devices */
}
.button__aftergrad__text {
	padding-right: 1.5em;
	padding-left: 0.7em;
	color:$white;
}
.button__aftergrad__image__container {
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
	background-color: $purple;
}
.button__aftergrad__image {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.05em;
}
.button__aftergrad__link:hover {
	background-color: $purple;
	@include hover__transition;
}

.button__aftergrad__link:hover .button__aftergrad__image {
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-o-transform:scaleX(360deg);
	-ms-transform:rotateY(360deg);
	transform:rotateY(360deg);
	@include all__transition;
}

.active--map {
	background-color: $purple;
}
/*--------------------------------------*\
    $BUTTON AFTER GRAD IPHONE ADJUSTMENT
\*--------------------------------------*/
@media (max-width: 359px) {
    .button__aftergrad__image {display:none;}
    .button__aftergrad__link {line-height: 2em;}
    .button__aftergrad__text {padding-right: 0.7em;}
}
/*------------------------------------*\
    $BUTTONS BACK TO TOP
\*------------------------------------*/
.button__top {
	position: fixed;
	right: 10%;
	bottom: 20%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity:0.4;
	font-size: 0.8em;
}
.button__top:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity:1;
	@include opacity__transition;
}
.button__top svg {
	display: block;
	margin: auto;
}

/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
	text-decoration: none;
	color:$gray80;
}

.nav__header a, .button {
	color:$white;
}

.nav__footer a:hover {
	color:$green;
}

@media only screen and (max-width : 1023px) {
	.nav__header a {
		color:$green;
		border-left: 0.5em solid $grayLight;
	}
	.nav__header a:hover {
		border-left: 0.5em solid $green;
	}
	.offcanvas a {
		color:$gray80;
	}
}