/*------------------------------------*\
    $NAV SIDE MODULE
\*------------------------------------*/

.nav__side {
    top: 10px;
    margin-top: 1em;
	max-width: 12em;
}

.nav__side > li {
	display: block;
	line-height: 1.5em;
}

.nav__side > li:hover {
	background-color: $green;
	@include hover__transition;
}

.nav__side a {
	font-size: 0.9em;
	padding: 0.3em 0.5em;
	@include border__bottom--green;
}

.nav__side a:hover {
	color:$white;
}

.active__side a {
	color:$white;
}

/*------------------------------------*\
    $NAV SIDE FIXED HELPER STYLES
\*------------------------------------*/

.fixed {
	width:16.2%;
}
.fixed > li {
	width:100%;
}

/*---------------------------------------------------------------*\
    $NAV SIDE SMALL SCREENS < 1023 is integrated in main nav
\*---------------------------------------------------------------*/

@media only screen and (max-width : 1023px) {
	.nav__side {
		display: none;
	}
}