/*------------------------------------*\
    $NAV DEFINITIONS
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/**
 * MENU
 * BUTTONS
 * LINKS
 */

/*------------------------------------*\
    $MENU
\*------------------------------------*/

.nav__header {
	background-color: $purple;
	padding:0.5em;
}

.active {
	background-color: $green;
	padding:0.5em;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.active {
	font-weight: bold;
}
.button {
	font-size: 0.8em;
	padding:0.3em 0.5em;
}

/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
	text-decoration: none;
	color:$gray80;
}

.nav__header a, .button {
	color:$white;
}