/*------------------------------------*\
    $OFFCANVAS MODULE STYLES
\*------------------------------------*/

.mobile-menu-toggle {
    display: none; /* show this only on small screens */
    top: 0; /* "#menu width" */
    background: $green;
    font-size: 0.7em; /* change this value to increase/decrease button size */
    z-index: 101;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

.mobile-menu-toggle:hover, {
    background: $purple;
}
[role="nav__mobile--toggle"].open  {
    background:$purple;
}

.mobile-menu-toggle span {
    position: relative;
    display: block;
}

.mobile-menu-toggle span,
.mobile-menu-toggle span:before,
.mobile-menu-toggle span:after {
    background-color: #fff;
    width: 100%;
    height: .2em;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

    .mobile-menu-toggle span:before,
    .mobile-menu-toggle span:after {
        position: absolute;
        margin-top: -.6em;
        content: " ";
    }

    .mobile-menu-toggle span:after {
        margin-top: .6em;
    }

.open .mobile-menu-toggle span {
    background: transparent;
}

     .open .mobile-menu-toggle span:before {
        -webkit-transform: rotate(45deg) translate(.5em, .4em);
           -moz-transform: rotate(45deg) translate(.5em, .4em);
            -ms-transform: rotate(45deg) translate(.5em, .4em);
             -o-transform: rotate(45deg) translate(.5em, .4em);
                transform: rotate(45deg) translate(.5em, .4em);
    }

     .open .mobile-menu-toggle span:after {
        -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
           -moz-transform: rotate(-45deg) translate(.45em, -.35em);
            -ms-transform: rotate(-45deg) translate(.45em, -.35em);
             -o-transform: rotate(-45deg) translate(.45em, -.35em);
                transform: rotate(-45deg) translate(.45em, -.35em);
    }

/*----------------------------------------------*\
    $SHOW OFF CANVAS MENU ONLY ON SMALL DEVICES
\*----------------------------------------------*/

@media only screen and (max-width : 1023px) {
    .mobile-menu-toggle {
        position: absolute;
        left: 0;
        display: block;
    }
}

// INITIAL STATE ALSO USED FOR CLOSE ANIMATION
[role="nav__mobile--holder"], [role="nav__mobile--toggle"], .content__mask--mobile {
    @include base__transition;
    @include transition__animation;
}

// OPEN ANIMATION
.open 
{
    @include left__transition80;
    @include transition__animation;
}
[role="nav--offcanvas"].open  {
    @include left__transition100;
    @include transition__animation;    
}