/*------------------------------------*\
    $OFFCANVAS MODULE STYLES
\*------------------------------------*/

.mobile-menu-toggle {
    display: none; /* show this only on small screens */
    top: 0; /* "#menu width" */
    background: $green;
    font-size: 0.7em; /* change this value to increase/decrease button size */
    z-index: 101;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

.mobile-menu-toggle:hover, {
    background: $purple;
}
[role="nav__mobile--toggle"].open  {
    background:$purple;
}

.mobile-menu-toggle span {
    position: relative;
    display: block;
}

.mobile-menu-toggle span,
.mobile-menu-toggle span:before,
.mobile-menu-toggle span:after {
    background-color: #fff;
    width: 100%;
    height: .2em;
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
}

    .mobile-menu-toggle span:before,
    .mobile-menu-toggle span:after {
        position: absolute;
        margin-top: -.6em;
        content: " ";
    }

    .mobile-menu-toggle span:after {
        margin-top: .6em;
    }

.mobile-menu-toggle.open span {
    background: transparent;
}

    .mobile-menu-toggle.open span:before {
        -webkit-transform: rotate(45deg) translate(.5em, .4em);
           -moz-transform: rotate(45deg) translate(.5em, .4em);
            -ms-transform: rotate(45deg) translate(.5em, .4em);
             -o-transform: rotate(45deg) translate(.5em, .4em);
                transform: rotate(45deg) translate(.5em, .4em);
    }

    .mobile-menu-toggle.open span:after {
        -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
           -moz-transform: rotate(-45deg) translate(.45em, -.35em);
            -ms-transform: rotate(-45deg) translate(.45em, -.35em);
             -o-transform: rotate(-45deg) translate(.45em, -.35em);
                transform: rotate(-45deg) translate(.45em, -.35em);
    }
// [role="nav__mobile--holder"], [role="nav__mobile--toggle"], [role="nav--offcanvas"], .content__mask--mobile {
//     @include left__transition;
// }

/*----------------------------------------------*\
    $SHOW OFF CANVAS MENU ONLY ON SMALL DEVICES
\*----------------------------------------------*/

@media only screen and (max-width : 1023px) {
    .mobile-menu-toggle {
        position: absolute;
        left: 0;
        display: block;
    }
}

/*----------------------------------------------*\
    $TEST CSS OF TRUNK JS
\*----------------------------------------------*/

/* NAVIGATION ANNIMATION */

/* CONTENT ANNIMATION */
// .close {
//     /* starting point */
//     -webkit-transform: translate3d(0,0,0);
//     -moz-transform: translate3d(0,0,0);
//     transform: translate3d(0,0,0);
//     z-index: 1;
// }

/*Content Sliding Open Effect*/
.open 
{@include left__transition;}
// {   
//     -webkit-transform: translate3d(80%,0,0);
//     -webkit-animation: open .5s ease-in-out;
    
//     -moz-transform: translate3d(80%,0,0);
//     -moz-animation: open .5s ease-in-out;
    
//     transform: translate3d(80%,0,0);
//     animation: open .5s ease-in-out;
// }
// @-webkit-keyframes open {
//     0%      {-webkit-transform: translate3d(0,0,0);}
//     80%    {-webkit-transform: translate3d(83%,0,0);}
//     100%  {-webkit-transform: translate3d(80%,0,0);}
// }
// @-moz-keyframes open {
//     0%      {-moz-transform: translate3d(0,0,0);}
//     80%    {-moz-transform: translate3d(83%,0,0);}
//     100%  {-moz-transform: translate3d(80%,0,0);}
// }
// @keyframes open {
//     0%      {transform: translate3d(0,0,0);}
//     80%    {transform: translate3d(83%,0,0);}
//     100%  {transform: translate3d(80%,0,0);}
// }

/*Content Sliding Closed Effect*/
.close 
{
    -webkit-transform: translate3d(0,0,0);
    -webkit-animation: close .3s ease-in-out;
    
    -moz-transform: translate3d(0,0,0);
    -moz-animation: close .3s ease-in-out;
    
    transform: translate3d(0,0,0);
    animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
    0%      {-webkit-transform: translate3d(80%,0,0);}
    100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes close {
    0%       {-moz-transform: translate3d(80%,0,0);}
    100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes close {
    0%       {transform: translate3d(80%,0,0);}
    100%  {transform: translate3d(0,0,0);}
}