/*------------------------------------*\
    $SLIDER DEFINITIONS
\*------------------------------------*/

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/*------------------------------------*\
    $CAPTION DEFINITIONS
\*------------------------------------*/

.caption {
	display: block;
    margin-top:5em;
	z-index: 1000;
}

/*------------------------------------*\
    $SLIDER DEFINITIONS
\*------------------------------------*/


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0;position: relative; zoom: 1;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }

.slides > li  {
	height: 0;
	background-repeat: no-repeat;
	background-size: cover;
    background-position:center;
    padding-bottom: 27%;
}
/*------------------------------------*\
    $SLIDER IMAGES
\*------------------------------------*/
/* Default images if no MQ is supported and desktop size devices */
.slider__image--first {background-image: url(assets/images/Zen-Bamboo-Stones-mirror-x1.jpg);}
.slider__image--second {background-image: url(assets/images/slide5-01-x1.jpg);}
.slider__image--third {background-image: url(assets/images/slide6-01-x1.jpg);}
/* Images to display on tablet size devices */
@media (min-width: 600px) and (max-width: 979px) {
	.slider__image--first {background-image: url(assets/images/Zen-Bamboo-Stones-mirror-x2Palm.jpg);}
	.slider__image--second {background-image: url(assets/images/slide5-01-x2Palm.jpg);}
	.slider__image--third {background-image: url(assets/images/slide6-01-x2Palm.jpg);}
}
/* Images to display on tablet size devices in landscape mode and small desktops*/
@media  (min-width: 980px) and (max-width: 1533px),
		(min-width: 600px) and (max-width: 979px) and (-webkit-min-device-pixel-ratio: 2) {
	.slider__image--first {background-image: url(assets/images/Zen-Bamboo-Stones-mirror-x2PalmLand.jpg);}
	.slider__image--second {background-image: url(assets/images/slide5-01-x2PalmLand.jpg);}
	.slider__image--third {background-image: url(assets/images/slide6-01-x2PalmLand.jpg);}
}
/* Very large desktop or regular retina desk */
@media  (min-width: 2000px),
		(-webkit-min-device-pixel-ratio: 2) and (min-width: 1534),  
        (   min--moz-device-pixel-ratio: 2) and (min-width: 1534),  
        (     -o-min-device-pixel-ratio: 2/1) and (min-width: 1534),  
        (        min-device-pixel-ratio: 2) and (min-width: 1534),
        (min-resolution: 192dpi) and (min-width: 1534) {
			.slider__image--first {background-image: url(assets/images/Zen-Bamboo-Stones-mirror-x2.jpg);}
			.slider__image--second {background-image: url(assets/images/slide5-01-x2.jpg);}
			.slider__image--third {background-image: url(assets/images/slide6-01-x2.jpg);}	
        }
/* Images to display on tablet size devices in landscape mode with high DPI */
@media  (-webkit-min-device-pixel-ratio: 2) and (min-width: 979px) and (max-width: 1533px),  
        (   min--moz-device-pixel-ratio: 2) and (min-width: 979px) and (max-width: 1533px),  
        (     -o-min-device-pixel-ratio: 2/1) and (min-width: 979px) and (max-width: 1533px),  
        (        min-device-pixel-ratio: 2) and (min-width: 979px) and (max-width: 1533px),  
        (min-resolution: 192dpi) and (min-width: 979px) and (max-width: 1533px) {
			.slider__image--first {background-image: url(assets/images/Zen-Bamboo-Stones-mirror-x2.jpg);}
			.slider__image--second {background-image: url(assets/images/slide5-01-x2.jpg);}
			.slider__image--third {background-image: url(assets/images/slide6-01-x2.jpg);}	
        }