/*------------------------------------*\
    $VCARD and TAGS MODULE DEFINITIONS
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/

/*  
 *
 * TAGS
 * VCARDS
 *
 */

/*------------------------------------*\
    $TAGS
\*------------------------------------*/

.tags {
	padding: 0.5em 1em;
}

.tags__text,.tags__image,.tags__button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.tags__image {
	margin-right: 1.5em;
}
.tags__text {
	width:55%;
}

.tags:hover {
	background-color: $grayLight;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.tags:hover .tags__button {
	background-color: $green;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    transition: background-color 0.2s;
}