/*------------------------------------*\
    $BASE VARIABLES
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/**
 * COLORS..............Color variables
 * FONTS...............Font variables
 *
 */

 /*------------------------------------*\
    $COLORS
\*------------------------------------*/

$green:#70ae11;
$purple:#8a60c0;
$gray80:#1a1a1a;
$gray50:#808080;
$grayLight:#e9e9e9;
$white:#ffffff;

 /*------------------------------------*\
    $FONTS
\*------------------------------------*/

$base-font:'Open Sans', sans-serif;