/*------------------------------------*\
    $COLOR DEFINITIONS
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/**
 * TEXT..............Text colors
 * ELEMENTS..........Element colors
 * LINKS AND NAVS
 *
 */

/*------------------------------------*\
    $TEXT
\*------------------------------------*/

.color__text--green{color: $green;}
.color__text--gray50{color: $gray50;}
.color__text--white{color: $white;}

/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/

.color__element--green{background-color: $green;}
.color__element--purple{background-color: $purple;}
.color__element--gray{background-color: $grayLight;}