/*------------------------------------*\
    $HELPER CLASSES
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/**
 * BORDERS AND ARROWS..border clear for last child
 * FLOATS..............float left-right colors
 * OFFSETS.............Speciffic offsets
 * MARGINS.............Generic margins
 * PADDINGS............Generic paddings
 * CONTAINERS..........non grid container
 * POSITIONS...........Position helpers
 *
 */
/*------------------------------------*\
    $BORDERS
\*------------------------------------*/

.border--none {
	border: none!important;
}

/*------------------------------------*\
    $FLOATS
\*------------------------------------*/

.left {
	float: left;
}

.right {
	float: right;
}

/*------------------------------------*\
    $OFFSETS
\*------------------------------------*/

.footer__map--offset {
	margin-top: -2.2em;
}

/*------------------------------------*\
    $MARGINS
\*------------------------------------*/

.margin__l--3xbase {
	margin-left: 3em;
}
.margin__b--2xbase {
	margin-bottom: 2em;
}

/*------------------------------------*\
    $PADDINGS
\*------------------------------------*/

.padding__t--2xbase {
	padding-top: 2em;
}
.padding__t--3xbase {
	padding-top: 3em;
}
.padding__b--1xbase {
	padding-bottom: 1em;
}

/*------------------------------------*\
    $CONTAINERS
\*------------------------------------*/

.container--full {
	display: block;
	position: relative;
	height:auto;
}

/*------------------------------------*\
    $POSITION
\*------------------------------------*/
.center {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.bottom {
    vertical-align: bottom;
}

.fixed {
	position: fixed!important;
}