/*------------------------------------*\
    $HELPER CLASSES
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/**
 * FLOATS..............float left-right colors
 * OFFSETS.............Speciffic offsets
 * MARGINS.............Generic margins
 * PADDINGS............Generic paddings
 * CONTAINERS..........non grid container
 * POSITIONS...........Position helpers
 *
 */


/*------------------------------------*\
    $FLOATS
\*------------------------------------*/

.left {
	float: left;
}

.right {
	float: right;
}

/*------------------------------------*\
    $OFFSETS
\*------------------------------------*/

.footer__map--offset {
	margin-top: -2.2em;
}

/*------------------------------------*\
    $MARGINS
\*------------------------------------*/

.margin__l--3xbase {
	margin-left: 3em;
}
.margin__b--2xbase {
	margin-bottom: 2em;
}

/*------------------------------------*\
    $PADDINGS
\*------------------------------------*/


/*------------------------------------*\
    $CONTAINERS
\*------------------------------------*/

.container--full {
	display: block;
	position: relative;
	height:auto;
}

/*------------------------------------*\
    $POSITION
\*------------------------------------*/
.center {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}